.about-container {
    background-color: #d9f99d; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    padding: 48px 24px;
    margin: 32px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .about-title {
    color: #365314; 
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  
  .about-description {
    font-size: 1.125rem;
    color: #4b5563; 
    max-width: 672px;
    font-weight: 500;
    margin: 20px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 32px;
  }
  
  @media (min-width: 640px) {
    .skills-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .skill-button {
    background-color: #65a30d;
    color: white;
    border: 2px solid #65a30d;
    border-radius: 9999px;
    padding: 16px;
    font-weight: 600;
    transition: background-c
  }  